In [58]:
lst=[2,28,47,3,90]
 
#sort the list and add [32,98] in ascending order
 
#output : [2,3,28,32,47,90,98]

In [59]:
def bubbleSort(lst):
    n=len(lst)
    for i in range(n-1):
        sorted_flag = True
        for j in range(n-i-1):
            if lst[j]>lst[j+1]:
                lst[j],lst[j+1]=lst[j+1],lst[j]
                sorted_flag = False
        if sorted_flag == True:
            break
    return lst

def add_list(lst,new_list=[32,98]):
    sorted_list = bubbleSort(lst)
    for i in range(len(new_list)):
        for j in range(len(sorted_list)):
            if sorted_list[j]>new_list[i]:
                sorted_list.insert(j,new_list[i])
                break
            elif(j==len(sorted_list)-1):
                sorted_list.insert(j+1,new_list[i])
            else:
                continue
    return sorted_list

In [60]:
sorted_list = bubbleSort(lst)

In [61]:
sorted_list

[2, 3, 28, 47, 90]

In [62]:
kk = add_list(lst,[32,98])

In [63]:
kk

[2, 3, 28, 32, 47, 90, 98]

In [53]:
lst=[2,28,47,3,90]

In [47]:
#bubble sort

In [48]:
def bubble_sort_function(lst):
    
    n = len(lst)
    
    for i in range(n-1):
        flag =True
        for j in range(n-i-1):
            if lst[j]>lst[j+1]:
                lst[j],lst[j+1]=lst[j+1],lst[j]
                flag=False
            if flag==True:
                break
    return lst

In [49]:
print(bubble_sort_func(lst))

[2, 3, 28, 47, 90]

In [54]:
lst

[2, 28, 47, 3, 90]

In [55]:
sorted(lst)

[2, 3, 28, 47, 90]

In [56]:
lst

[2, 28, 47, 3, 90]

In [44]:
lst.sort()

In [45]:
lst

[2, 3, 28, 47, 90]

In [ ]:
sc 
spark

In [ ]:
col, col2, --------





===============
col1,
col2

==========



df = sc.read_csv("file path", inferSchema = True)

In [ ]:
1) 
lst=[2,28,47,3,90]
 
sort the list and add [32,98] in ascending order
 
output : [2,3,28,32,47,90,98]
 
2) write code for compare two df 
df1
col1 col2
1    1.5
2    3.6
3    4
 
df2
col1 col2
1    1.3
3    3.8
4    4.1
 
output :
col1 col2
1    1.5
2    3.6
3    4
4    4.1

In [ ]:
lst=[2,28,47,3,90]
temp = []

for i in lst:
    for i in 
    if i 
    #if lst[i]< lst[i+1]:

In [1]:
lst = [2, 28, 47, 3, 90]

# Add [32, 98] into the list in ascending order
for num in [32, 98]:
    for i in range(len(lst)):
        if lst[i] > num:
            lst.insert(i, num)
            break
    else:
        lst.append(num)

print(lst)

[2, 28, 32, 47, 3, 90, 98]

In [2]:
lst = [2, 28, 47, 3, 90]

# Add [32, 98] into the list in ascending order
for num in [32, 98]:
    for i in range(len(lst)):
        if lst[i] >= num:
            lst.insert(i, num)
            break
    else:
        lst.append(num)

print(lst)

[2, 28, 32, 47, 3, 90, 98]

In [6]:
#lst=[2,28,47,3,90]
 
#sort the list and add [32,98] in ascending order
 
#output : [2,3,28,32,47,90,98]

lst=[2,28,47,3,90]

In [9]:
lst = sorted(lst)

In [10]:
lst

[2, 3, 28, 47, 90]

In [22]:
lst=[2,28,47,3,90]

print("Unsorted list:", lst)
def bubble_sort(lst):
    
    n = len(lst)
    
    for i in range(n):
        for j in range(0,n-i-1):
            if lst[j]>lst[j+1]:
                lst[j],lst[j+1]=lst[j+1],lst[j]
                
    return lst
                

new_lst = bubble_sort(lst)
print("Sorted list \n",new_lst)

Unsorted list: [2, 28, 47, 3, 90]
Sorted list
 [2, 3, 28, 47, 90]

In [23]:
new_lst.extend([32,98])

In [24]:
print(bubble_sort(new_lst))

[2, 3, 28, 32, 47, 90, 98]

In [25]:
import pandas as pd

# Data for df1
data1 = {'col1': [1, 2, 3],
         'col2': [1.5, 3.6, 4]}
df1 = pd.DataFrame(data1)

# Data for df2
data2 = {'col1': [1, 3, 4],
         'col2': [1.3, 3.8, 4.1]}
df2 = pd.DataFrame(data2)

# Display the DataFrames
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

DataFrame 1:
   col1  col2
0     1   1.5
1     2   3.6
2     3   4.0

DataFrame 2:
   col1  col2
0     1   1.3
1     3   3.8
2     4   4.1

In [26]:
df1

   col1  col2
0     1   1.5
1     2   3.6
2     3   4.0

In [27]:
df2

   col1  col2
0     1   1.3
1     3   3.8
2     4   4.1

In [45]:
df1.compare(df2)

  col1       col2
  self other self other
0  NaN   NaN  1.5   1.3
1  2.0   3.0  3.6   3.8
2  3.0   4.0  4.0   4.1

In [48]:
compared_df = df1.compare(df2,  keep_shape=True,keep_equal= True,align_axis=0)

In [49]:
compared_df

         col1  col2
0 self      1   1.5
  other     1   1.3
1 self      2   3.6
  other     3   3.8
2 self      3   4.0
  other     4   4.1

In [31]:
output_df = compared_df.drop(columns=['self']).reset_index(drop=True)

print(output_df)

KeyError: 'self'

In [54]:
import pandas as pd

# Sample data frames
data1 = {'ID': [1, 2, 3, 4],
         'Value': [10, 20, 30, 40]}
data2 = {'ID': [2, 3, 4, 5],
         'Value': [25, 35, 45, 55]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

data1 = {'col1': [1, 2, 3],
         'col2': [1.5, 3.6, 4]}
df1 = pd.DataFrame(data1)

# Data for df2
data2 = {'col1': [1, 3, 4],
         'col2': [1.3, 3.8, 4.1]}
df2 = pd.DataFrame(data2)


# Set 'ID' as index for both data frames
df1.set_index('col1', inplace=True)
df2.set_index('col1', inplace=True)

# Align the data frames on index and compare
compared_df = df1.align(df2, join='outer', axis=0, fill_value=None)

# Retain the higher value for each ID
result_df = compared_df[1].fillna(compared_df[0])

print(result_df.reset_index())

   col1  col2
0     1   1.3
1     2   3.6
2     3   3.8
3     4   4.1

In [55]:
compared_df

(      col2
 col1
 1      1.5
 2      3.6
 3      4.0
 4      NaN,
       col2
 col1
 1      1.3
 2      NaN
 3      3.8
 4      4.1)