In [ ]:
#Get only the repeated values without using any in-built functions/methods.

repeated_values =[2,3,4,5,6,6,7,8,8,9,9,9,4,4]

n_dict = {}

for ele in repeated_values:
    if ele in n_dict.keys():
        n_dict[ele]+=1
    else:
        n_dict[ele]=1
new_list = [i for i in n_dict.keys() if n_dict[i]>1]
print(new_list)

[4, 6, 8, 9]

In [ ]:
#replace none with avg of that subject

data = {'Name': ['John', 'Mike', 'Emma', 'Alice'],
        'Math': [90, 80, None, 85],
        'Science': [95, 75, 88, None]}

import pandas as pd
df = pd.DataFrame(data)
print(df)
print("Mean of maths marks ",df['Math'].mean())
df['Math'].fillna(df['Math'].mean(),inplace=True)
print("Mean of Science marks ",df['Science'].mean())
df['Science'].fillna(df['Science'].mean(),inplace=True)

In [ ]:
df

    Name  Math  Science
0   John  90.0     95.0
1   Mike  80.0     75.0
2   Emma  85.0     88.0
3  Alice  85.0      NaN

In [ ]:
#Based on the below condition add the amount to existing salary
#exp >5 add 5000 to existing salary
#exp >10 add 10K

In [ ]:
import pandas as pd
from datetime import datetime

# Data
data = {
    'Employee_ID': [101, 102, 103],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Joining_Date': ['2017-05-10', '2015-06-25', '2020-08-15'],
    'Salary': [60000, 75000, 50000]
}


df = pd.DataFrame(data)
print("Old Dataframe: ")
print(df)
df['Joining_Date'] = pd.to_datetime(df['Joining_Date'])

current_date = datetime.now()
df['Experience'] = df['Joining_Date'].apply(lambda x: (current_date - x).days // 365)

df['Updated_Salary'] = df['Salary'] + df['Experience'].apply(
    lambda exp: 10000 if exp > 10 else (5000 if exp > 5 else 0)
)
print("Updated Dataframe: ")
print(df)

In [ ]:
# Find the patients who visited hospital more than once.

# Data
data_patients = {'PatientID': [1, 2, 3, 4], 'Age': [45, 52, 29, 60]}
data_visits = {
    'PatientID': [1, 1, 1, 2, 2, 3, 4, 4],
    'VisitID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Diagnosis': [
        'Hypertension', 'Diabetes', 'Hypertension',
        'Heart Disease', 'Heart Disease', 'Asthma',
        'Hypertension', 'Hypertension'
    ]
}

df_patients = pd.DataFrame(data_patients)
df_visits = pd.DataFrame(data_visits)

visit_counts = df_visits['PatientID'].value_counts()

patients_more_than_twice = visit_counts[visit_counts > 2].index.tolist()

print("Patients who visited more than twice:", patients_more_than_twice)

In [ ]:
#Find the patients id who visited more than once for the same diagnosis.

visit_counts = df_visits.groupby(['PatientID', 'Diagnosis']).size().reset_index(name='VisitCount')

patients_same_diagnosis = visit_counts[visit_counts['VisitCount'] > 1]['PatientID'].unique()

print("Patients who visited more than once for the same diagnosis:", patients_same_diagnosis)